@font-face {
	font-family: 'Ilisarniq';
	src: url('../fonts/IlisarniqLight.woff2'),
	url('../fonts/IlisarniqLight.woff');
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Ilisarniq';
	src: url('../fonts/IlisarniqBold.woff'),
	url('../fonts/IlisarniqBold.woff');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}