@media screen and (max-width: 1440px) {
	.card {
		margin-bottom: 200px;
		&__img {
			left: -120%;
			height: auto;
			width: 145%;
		}
	}
	.about {
		&-right {
			&__descr {
				margin-bottom: 235px;
			}
		}
	}

	.reviews-block {
		&__left {
			width: 25%;
		}
	}
	

	.partners__block ul {
		width: 87%;
	}

	.partners {
		h2 {
			width: 13%;
		}
	}
	.first-slider__buttons,
	.first-slider__bullets {
		left: 40px;
	}
	.contact {
		padding-bottom: 18%;
	}
}

@media screen and (max-width: 1200px) {
	.header {
		&__btn {
			margin-left: auto;
		}
	}

	.menu {
		position: fixed;
		display: block;
		opacity: 0;
		transform: translateX(100%);
		top: 0;
		right: 0;
		width: 290px;
		background: #000;
		color: #fff;
		z-index: 10;
		padding-top: 148px;
		padding-right: 50px;
		padding-bottom: 20px;
		margin-right: 0;
		transition: transform 0.3s ease, opacity 0.3s ease;

		&::before {
			content: '';
			display: block;
			position: absolute;
			background: #F14942;
			right: 0;
			top: 0;
			height: 100%;
			width: 4px;
		}

		&-item {
			margin-bottom: 60px;

			&:before {
				display: none;
			}

			a {
				display: block;
				margin-left: auto;
			}
		}
	}

	.card {
		margin-bottom: 110px;
	}

	.card__img {
		left: -115%;
		height: auto;
		width: 145%;
	}

	.about-right__descr {
		margin-bottom: 130px;
	}

	.burger {
		display: block;
	}

	.burger.is-active {
		background: #000 url('../img/svg/burger-close.svg') no-repeat center center;
		z-index: 10;
		right: 5px;
	}

	.menu.nav-active {
		opacity: 1;
		transform: translateX(0);
		transition: transform 0.3s ease, opacity 0.3s ease;
	}

	.first-slider__bullets {
		width: 130px;
	}

	.slider {
		.swiper-pagination-bullet {
			margin-right: 15px;
		}
	}

	.first-slider__buttons {
		left: 3%;
	}

	.contact {
		padding-bottom: 150px;

		&-block {
			display: block;
		}

		&-bg {
			height: 526px;
		}

		h2 {
			font-size: 22px;
			line-height: 33px;
		}

		p {
			font-size: 14px;
			line-height: 20px;
			width: 320px;
		}
	}

	.form {
		margin-left: 85px;
		margin-right: 30px;
		width: 85%;
		padding: 48px 50px 48px 30px;
	}
	.first-slider__buttons,
	.first-slider__bullets {
		left: 30px;
	}
	.reviews-container {
		padding-right: 40px;
	}

}

@media screen and (max-width: 992px) {
	.container {
		padding-left: 53px;
	}

	.about {
		background: #fff;

		&-container {
			display: block;
			padding-right: 0;
		}

		h1 {
			max-width: 100%;
			padding-right: 30px;
		}

		p {
			text-align: justify;
			padding-right: 0;
			max-width: 85%;
			padding-right: 20px;
		}

		&-left {
			margin-bottom: 31px;
		}

		&-right {
			background: #000;
			padding-top: 24px;

			&__descr {
				padding-left: 116px;
				margin-bottom: 73px;
				padding-right: 20px;

				p {
					font-size: 14px;
					line-height: 20px;
					max-width: 560px;
					margin-bottom: 22px;
					text-align: justify;
				}

				ul {
					margin-bottom: 25px;

					li {
						font-size: 14px;
						line-height: 20px;
						max-width: 550px;

						&::before {
							width: 5px;
							height: 5px;
						}
					}
				}
			}

			&__cards {
				padding-right: 50px;
			}
		}
	}

	.card {
		margin-bottom: 81px;

		&__content {
			margin-left: auto;
			max-width: 350px;
			padding-top: 24px;
			padding-left: 31px;
			padding-bottom: 36px;

			&:before {
				height: 8px;
			}

			&:after {
				width: 39px;
				height: 39px;
				bottom: 23px;
				right: 7px;
			}

			h3 {
				font-size: 22px;
				line-height: 33px;
				margin-bottom: 11px;
			}

			p {
				font-size: 12px;
				line-height: 16px;
				max-width: 270px;
				margin-bottom: 16px;
			}

			ul li {
				font-size: 12px;
				line-height: 16px;
			}
		}

		&__img {
			height: 248px;
			max-width: 444px;
			left: -50px;
			margin-bottom: -8px;
			object-fit: cover;
		}

	}

	.program {
		padding-top: 49px;

		h2 {
			font-size: 22px;
			line-height: 33px;
			margin-bottom: 33px;
		}

		&-block {
			margin-bottom: 42px;

			&__month {
				h4 {
					font-size: 14px;
					line-height: 36px;
				}

				span {
					font-size: 14px;
					line-height: 18px;
				}
			}

			&__year {
				font-size: 14px;
				line-height: 36px;
			}
		}
	}

	.calendar {
		&-block {
			h3 {
				font-size: 16px;
				line-height: 36px;
				width: 114px;
				padding-right: 15px;
			}

			&__color {
				width: 3px;
			}

			&__date {
				font-size: 18px;
				line-height: 30px;
				margin-bottom: 8px;

				&:after {
					right: -12px;
				}
			}

			&__text {
				font-size: 14px;
				line-height: 21px;
			}

			&__item {
				padding-left: 10px;
				width: 180px;
				margin-right: 12px;
			}

			&__link img {
				left: 3px;
			}

			&__list {
				margin-right: 0;
			}
		}
	}

	.block__side {
		display: none;
	}

	.slider {
		.first-slider__buttons {
			top: 70px;
			left: 30px;
		}

		.swiper-button-prev,
		.swiper-button-next {
			width: 51px;
			height: 51px;
			background-size: 50%;
			svg {
				transform: scale(0.7);
			}
		}
		

	}
	.swiper-button-prev,
	.swiper-button-next {
		&:hover {
			background-color: #fff;

			&.swiper-button-prev svg path,
			&.swiper-button-next svg path {
				fill: #000;
			}
		}
	}

	.trainers {
		h2 {
			font-size: 22px;
			line-height: 33px;
		}
	}

	.trainer {
		h3 {
			font-size: 20px;
			line-height: 26px;
		}

		div {
			font-size: 14px;
			line-height: 20px;
		}

		p {
			font-size: 14px;
			line-height: 20px;
		}
	}

	.documents {
		padding-bottom: 115px;
		&-slider {
			&__title {
				font-size: 16px;
				line-height: 24px;
			}
			&__btn {
				font-size: 14px;
				line-height: 21px;
			}
		}
	}

	.reviews {
		padding-bottom: 30px;

		h2 {
			font-size: 22px;
			line-height: 33px;
			margin-bottom: 20px;
		}

		&-block {
			&__left {
				display: none;
			}

			&__body {
				width: 100%;
			}
		}
	}

	.reviews-slider {
		p {
			font-size: 14px;
			line-height: 20px;
			text-align: justify;
		}

		&__content {
			h3 {
				font-size: 16px;
				line-height: 24px;
			}

			p {
				font-size: 15px;
				line-height: 24px;
			}
		}
	}

	.partners {
		&__block {
			display: block;

			ul {
				margin: 0;
				width: 100%;
				justify-content: space-between;

				li {
					margin-left: 0;
					margin-right: 0;
					width: 25%;
					height: 55px;
					padding: 0 10px;
				}
			}
		}

		h2 {
			width: 100%;
			margin-bottom: 37px;
			font-size: 22px;
			line-height: 33px;
		}
	}

	.footer {
		padding: 27px 0 36px;

		&-container {
			padding-left: 50px;
			padding-right: 54px;
		}

		&__logo {
			width: 135px;
		}

		&__text {
			font-size: 12px;
			line-height: 12px;
		}

		&__product {
			font-size: 12px;
			line-height: 12px;
		}

		&__link {
			font-size: 12px;
			line-height: 12px;
		}
	}
	.contact-container {
		padding-right: 0;
	}
	.form {
		width: 630px;
		margin-right: 0;
		margin-left: auto;
	}
}

@media screen and (max-width: 768px) {
	.header {
		padding-left: 50px;

		&__logo {
			width: 23%;
		}

		&__btn {
			font-size: 12px;
			padding: 0 34px;
		}
	}

	.nav {
		height: 86px;
	}

	.first {
		background-position-y: 82px;
		background-size: cover;
	}

	.about {
		padding-top: 26px;

		&-container {
			padding-left: 51px;
		}

		h1 {
			font-size: 28px;
			line-height: 34px;
			margin-bottom: 19px;
		}

		h2 {
			font-size: 22px;
			line-height: 33px;
			margin-bottom: 17px;
		}

		p {
			max-width: 550px;

			font-size: 14px;
			line-height: 20px;

		}
	}

	.program {
		&-block {
			margin-bottom: 37px;

			&__month {
				&--title {
					width: 110px;
					padding-right: 0;
				}

				&--text {
					font-size: 12px;
					line-height: 18px;
					margin-left: auto;
				}

				&:after {
					width: 100%;
				}
			}

		}

		&__title {
			font-size: 20px;
			line-height: 30px;
			margin-bottom: 49px;
		}
	}

	.calendar {
		&-block {
			&__title {
				min-width: 173px;
				font-size: 15px;
				line-height: 36px;
				margin-bottom: 25px;
			}

			&__text {
				font-size: 12px;
				line-height: 18px;
			}

			&__item {
				width: 145px;
			}
		}
	}

	.slider {
		.swiper-slide img {
			height: 450px;
		}
	}

	.documents-slider__bullets {
		.swiper-pagination-bullet {
			width: 13px;
			height: 13px;
			margin-right: 18px;
		}
	}

	.partners {
		&__block {
			ul {
				li {
					width: 30%;
					padding: 0 10px;
				}
			}
		}
	}

	.form {
		width: 88%;
	}

	.footer {
		padding: 17px 0;

		&__mobile {
			display: block;
		}

		&__text {
			margin-bottom: 5px;
		}
	}


}

@media screen and (max-width: 576px) {
	.container {
		padding-left: 30px;
		padding-right: 30px;
	}

	.nav {
		height: 70px;
	}

	.header {
		padding-left: 30px;

		&__logo {
			width: 32%;
		}

		&__btn {
			padding: 0 20px;
		}

		&__menu {
			padding-right: 30px;
			padding-top: 100px;
		}
	}

	.burger {
		width: 85px;
	}

	.first {
		background-position-y: 70px;
		background-position-x: -400px;
		max-width: 100%;
		height: 385px;
		background-size: cover;
	}

	.about {
		&-container {
			padding-left: 30px;
		}

		&-left {
			max-width: 90%;
			margin-bottom: 42px;
		}

		&-right {
			padding-top: 34px;
			padding-bottom: 0;
			margin-left: -30px;

			&__descr {
				padding-left: 30px;
				margin-bottom: 139px;

				p {
					max-width: 97%;
				}

				ul {
					margin-bottom: 26px;

					li {
						max-width: 100%;
						padding-left: 13px;

						&:before {
							left: 1px;
							top: 4px;
						}
					}
				}
			}


			&__cards {
				padding-right: 0;
			}

		}

		h1 {
			font-size: 22px;
			line-height: 30px;
			margin-bottom: 21px;
			padding-right: 0;
		}

		h2 {
			font-size: 20px;
			line-height: 30px;
			margin-bottom: 5px;
		}
	}

	.card {
		margin-bottom: 121px;

		&__img {
			top: -100px;
			right: 0;
			left: auto;
			bottom: auto;
		}

		&__content {
			max-width: 92%;

			&:after {
				right: 11px;
				bottom: 29px;
			}

			h3 {
				font-size: 18px;
				line-height: 27px;
				margin-bottom: 18px;
			}
		}

	}

	.calendar-block {
		display: block;

		ul li {
			margin-right: 0;
			width: 45%;
		}

		h3 {
			font-size: 15px;
			line-height: 36px;
		}

	}

	.slider .first-slider__buttons {
		justify-content: space-between;
		top: auto;
		bottom: 0;
		left: auto;
		width: 100%;
		padding-left: 30px;
		padding-right: 30px;
		height: auto;
	}

	.slider .swiper-button-prev {
		left: 0;
	}

	.slider .swiper-button-next {
		right: 0;
	}

	.slider .swiper-button-prev,
	.slider .swiper-button-next {
		width: 37px;
		height: 37px;
		background-size: 50%;
		svg {
			transform: scale(0.7);
		}
	}
	
	.trainers {
		&-container {
			padding-left: 31px;
			padding-right: 31px;
		}

		h3 {
			font-size: 20px;
			line-height: 30px;
		}

		ul {
			margin-right: 0;
			justify-content: space-between;
		}

	}

	.trainer {
		width: 45%;
		margin-right: 0;
		margin-left: 10px;

		&::before {
			width: 70px;
			height: 70px;
			left: -26px !important;
			top: 90px !important;
		}

		&__img {
			margin-bottom: 18px;
		}

		h3 {
			font-size: 16px;
			line-height: 20px;
		}

		div {
			font-size: 14px;
			line-height: 20px;
		}

		p {
			padding-right: 0;
			font-size: 14px;
			line-height: 20px;
		}
	}

	.documents-slider__bullets {
		margin-top: 10px;
		margin-right: auto;
		text-align: center;

		.swiper-pagination-bullet {
			margin-right: 9px;
			margin-left: 9px;
		}
	}

	.documents-slider__buttons {
		width: 100%;

		.swiper-button-next {
			left: auto;
			right: 10px;
		}
		.swiper-button-prev,
		.swiper-button-next {
			width: 37px;
			height: 37px;
			background-size: 50%;
			svg {
				transform: scale(0.7);
			}
		}
	}

	.documents-slider {
		&__title {
			font-size: 14px;
			line-height: 21px;
			padding: 0 15px;
		}
		&__btn {
			font-weight: 700;
			font-size: 10px;
			line-height: 21px;
		}
		&__img {
			padding: 32px 40px 22px;
		}
		&__slide:hover {
			.documents-slider__img {
				background-size: 50%;
			}
			
		}
	}
	.trainer__img {
		height: auto;
	}


	.reviews-container {
		padding-left: 15px;
		padding-right: 15px;
	}

	.program {
		padding-top: 49px;

		h2 {
			font-size: 20px;
			line-height: 30px;
			margin-bottom: 48px;
		}
	}


	.program-block__month {
		h4 {
			font-size: 14px;
			line-height: 36px;
			width: 130px;
		}

		span {
			font-size: 12px;
			line-height: 18px;
		}
	}

	.partners {
		padding-bottom: 0;
		&-container {
			padding-left: 15px;
			padding-right: 15px;
		}

		&__block {
			ul {
				li {
					padding: 0;
					width: 50%;
					height: 50px;
				}
			}
		}

		h2 {
			font-size: 20px;
			line-height: 30px;
		}
	}

	.contact {
		padding-bottom: 60px;

		&-container {
			padding-left: 0;
			padding-right: 0;
		}

		&-block {
			display: block;
		}

		h2 {
			font-size: 20px;
			line-height: 30px;
			margin-bottom: 11px;
			margin-left: 30px;
		}

		p {
			margin-left: 30px;
			width: 100%;
			margin-bottom: 77px;
			width: 80%;
		}
	}

	.form {
		width: 100%;
		margin-left: 0;
		padding: 36px 30px 65px;

		&__group {
			&--span{
				margin-left: 0;
			}
		}
		&__btn {
			margin-left: 0;
		}

		label {
			display: none;
		}
	}

	.footer {
		&__logo {
			margin-right: 21px;
			width: 32%;
		}
		&__text {
			margin-right: 0;
		}
	}

}

@media screen and (max-width: 375px) {
	.header {
		padding-left: 20px;
	}

	.program {
		&-block {
			&__month {
				h4 {
					width: 95px;
				}
			}
		}
	}

	.trainers-container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.trainer::before {
		left: -14px !important;
	}

	.slider {
		.swiper-slide img {
			height: 280px;
		}
	}

	.reviews-container {
		padding-left: 10px;
	}

	.reviews-slider__content {
		padding-left: 10px;
	}
}