@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1200px) {
	.menu {
		position: fixed;
		display: block;
		opacity: 0;
		transform: translateX(100%);
		top: 0;
		right: 0;
		width: 290px;
		background: #000;
		color: #fff;
		height: auto;
		z-index: 10;
		padding-top: 148px;
		padding-right: 30px;
		padding-bottom: 20px;
		margin-right: 0;
		transition: transform 0.3s ease, opacity 0.3s ease;

		&::before {
			content: '';
			display: block;
			position: absolute;
			background: #F14942;
			right: 0;
			top: 0;
			height: 100%;
			width: 4px;
		}

		&-item {
			margin-bottom: 60px;
			&:before {
				display: none;
			}

			a {
				display: block;
				margin-left: auto;
			}
		}
	}

	.burger {
		display: block;
	}

	.burger.is-active {
		background: #000 url('../img/svg/burger-close.svg') no-repeat center center;
		z-index: 10;
		right: 5px;
	}

	.menu.nav-active {
		opacity: 1;
		transform: translateX(0);
		transition: transform 0.3s ease, opacity 0.3s ease;
	}
	.first-slider__bullets {
		width: 130px;
	}
	.slider {
		.swiper-pagination-bullet {
			margin-right: 15px;
		}
	}
	.first-slider__buttons {
		left: 3%;
	}
}

@media screen and (max-width: 992px) {
	.container {
		padding-left: 53px;
	}
	.about {
		background: #fff;

		&-container {
			display: block;
			padding-right: 0;
		}
		&__title {
			max-width: 700px;
		}
		&__text {
			text-align: justify;
			padding-right: 0;
			max-width: 700px;
		}

		&-left {
			margin-bottom: 31px;
		}

		&-right {
			background: #000;
			padding-top: 24px;
			&__descr {
				padding-left: 116px;
				margin-bottom: 73px;
				padding-right: 20px;
			}
			&__text {
				font-size: 14px;
				line-height: 20px;
				max-width: 550px;
				margin-bottom: 22px;
				text-align: justify;
			}
			&__item {
				
				font-size: 14px;
				line-height: 20px;
				max-width: 550px;
				&::before {
					width: 5px;
					height: 5px;
				}
			}
			&__list {
				margin-bottom: 25px;
			}
			&__cards {
				padding-right: 50px;
			}
		}
	}
	.card {
		margin-bottom: 81px;
		&__title {
			font-size: 22px;
			line-height: 33px;
			margin-bottom: 11px;
		}
		&__text {
			font-size: 12px;
			line-height: 16px;
			max-width: 270px;
			margin-bottom: 16px;
		}
		&__content {
			margin-left: auto;
			max-width: 350px;
			padding-top: 24px;
			padding-left: 31px;
			padding-bottom: 36px;
			&:before {
				height: 8px;
			}
			&:after {
				width: 39px;
				height: 39px;
				bottom: 23px;
    			right: 7px;
			}
		}
		&__img {
			height: 248px;
			max-width: 444px;
			left: -50px;
			margin-bottom: -5px;
			object-fit: cover;
		}
		&__item {
			font-size: 12px;
			line-height: 16px;
		}
	}
	.program {
		padding-top: 49px;
		&__title {
			font-size: 22px;
			line-height: 33px;
			margin-bottom: 33px;
		}
		&-block {
			margin-bottom: 42px;
			&__month {
				&--title {
					font-size: 14px;
					line-height: 36px;
				}
				&--text {
					font-size: 14px;
					line-height: 18px;
				}
			}
			&__year {
				font-size: 14px;
				line-height: 36px;
			}
		}
	}
	.calendar {
		&-block {
			&__title {
				font-size: 16px;
				line-height: 36px;
				width: 114px;
				padding-right: 15px;
			}
			&__color {
				width: 3px;
			}
			&__date {
				font-size: 18px;
				line-height: 30px;
				margin-bottom: 8px;
				&:after {
					right: -12px;
				}
			}
			&__text {
				font-size: 14px;
				line-height: 21px;
			}
			&__item {
				padding-left: 10px;
				width: 180px;
				margin-right: 12px;
			}
			&__link img {
				left: 3px;
			}
			&__list {
				margin-right: 0;
			}
		}
	}
	.block__side {
		display: none;
	}
	.slider {
		.first-slider__buttons {
			top: 70px;
			left: 30px;
		}
		.swiper-button-prev, .swiper-button-next {
			width: 51px;
			height: 51px;
		}
	}
	.trainers {
		&__title {
			font-size: 22px;
			line-height: 33px;
		}
	}
	.trainer {
		&__title {
			font-size: 20px;
			line-height: 26px;
		}
		&__specialization {
			font-size: 14px;
			line-height: 20px;
		}
		&__text {
			font-size: 14px;
			line-height: 20px;
		}
	}

}

@media screen and (max-width: 768px) {
	.header {
		padding-left: 50px;

		&__logo {
			width: 23%;
		}

		&__btn {
			font-size: 12px;
			padding: 0 34px;
		}
	}
	.nav {
		height: 86px;
	}
	.first {
		background-position-y: 82px;
		background-size: cover;	
	}
	.about {
		padding-top: 26px;
		&-container {
			padding-left: 51px;
		}
		&__title {
			font-size: 28px;
			line-height: 34px;
			margin-bottom: 19px;
		}
		&__subtitle {
			font-size: 22px;
			line-height: 33px;
			margin-bottom: 17px;
		}
		&__text {
			max-width: 550px;
			
			font-size: 14px;
			line-height: 20px;
			
		}
	}
	.program {
		&-block {
			margin-bottom: 37px;
			&__month {
				&--title {
					width: 110px;
					padding-right: 0;
				}
				&--text {
					font-size: 12px;
					line-height: 18px;
					margin-left: auto;
				}
				&:after {
					width: 100%;
				}
			}
			
		}
		&__title {
			font-size: 20px;
			line-height: 30px;
			margin-bottom: 49px;
		}
	}
	.calendar {
		&-block {
			&__title {
				min-width: 173px;
				font-size: 15px;
				line-height: 36px;
				margin-bottom: 25px;
			}
			&__text {
				font-size: 12px;
				line-height: 18px;
			}
			&__item {
				width: 145px;
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.container {
		padding-left: 30px;
		padding-right: 30px;
	}
	.nav {
		height: 70px;
	}

	.header {
		padding-left: 30px;

		&__logo {
			width: 32%;
		}

		&__btn {
			padding: 0 20px;
		}
	}

	.burger {
		width: 25%;
	}

	.first {
		background-position-y: 0;
		background-position-x: -400px;
		max-width: 100%;
		height: 385px;
		background-size: cover;
	}

	.about {
		&-container {
			padding-left: 30px;
		}
		&-left {
			max-width: 90%;
			margin-bottom: 42px;
		}
		&-right {
			padding-top: 34px;
			padding-bottom: 0;
			margin-left: -30px;
		
			&__descr {
				padding-left: 30px;
				margin-bottom: 139px;
			}
			&__text {
				max-width: 97%;
			}
			&__item {
				max-width: 100%;
				padding-left: 13px;
				&:before {
					left: 1px;
					top: 4px;
				}
			}
			&__cards {
				padding-right: 0;
			}
			&__list {
				margin-bottom: 26px;
			}
			
		}
		&__title {
			font-size: 22px;
			line-height: 30px;
			margin-bottom: 21px;
		}
		&__subtitle {
			font-size: 20px;
			line-height: 30px;
			margin-bottom: 5px;
		}
	}
	.card {
		margin-bottom: 121px;
		&__img {
			top: -100px;
			right: 0;
			left: auto;
			bottom: auto;
		}
		&__content {
			max-width: 92%;
			&:after {
				right: 11px;
				bottom: 29px;
			}
		}
		&__title {
			font-size: 18px;
			line-height: 27px;
			margin-bottom: 18px;
		}
	}
	.calendar-block {
		display: block;
	}
	.slider .first-slider__buttons {
		justify-content: space-between;
		top: auto;
		bottom: 0;
		left: auto;
		width: 100%;
		padding-left: 30px;
		padding-right: 30px;
		height: auto;
	}
	.slider .swiper-button-prev {
		left: 0;
	}
	.slider .swiper-button-next {
		right: 0;
	}
	.swiper-button-prev,
	.swiper-button-next {
		width: 31px;
		height: 31px;
		background-size: 50%;
	}
	.trainers {
		&-container {
			padding-left: 31px;
			padding-right: 31px;
		}
		&__title {
			font-size: 20px;
			line-height: 30px;
		}
		&__list {
			margin-right: 0;
			justify-content: space-between;
		}

	}	
	.trainer {
		width: 45%;
		margin-right: 0;

		&::before {
			width: 70px;
			height: 70px;
			left: -26px !important;
    		top: 90px !important;
		}
		&__img {
			margin-bottom: 18px;
		}
		&__title {
			font-size: 16px;
			line-height: 20px;
		}
		&__specialization {
			font-size: 14px;
			line-height: 20px;
		}
		&__text {
			padding-right: 0;
			font-size: 14px;
			line-height: 20px;
		}
	}
}

@media screen and (max-width: 375px) {
	.header {
		padding-left: 20px;
	}
	.calendar {
		&-block {
			&__title {
				min-width: 45%;
			}
			&__item {
				width: 45%;
			}
		}
	}
	.program {
		&-block {
			&__month {
				&--title {
					width: 95px;
				}
			}
		}
	}
	.trainers-container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.trainer::before {
		left: -14px !important;
	}
}