.header {
    position: fixed;
    background: #fff;
    width: 100%;
    font-size: 15px;
    line-height: 22px;
    text-align: justify;
    text-transform: uppercase;
    padding-left: 40px;
    z-index: 10;

    &__logo {
        margin-right: auto;
    }

    &__btn {
        display: block;
        background-color: #000;
        color: #fff;
        height: 100%;
        padding: 0 27px;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        text-transform: uppercase;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.menu {
    max-width: 750px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 36px;
    height: 100%;

    &-item {
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;

        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 8px;
            background: #000;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            transition: width 0.3s ease;
        }

        &:hover::before {
            width: 120%;
            transition: width 0.3s ease;
        }
    }
}

.first {
    background: url('../img/header-bg.jpg') no-repeat center 120px;
    background-size: cover;
    height: 100vh;
}

.burger {
    position: relative;
    display: none;
    overflow: hidden;
    font-size: 0;
    cursor: pointer;
    width: 140px;
    height: 100%;
    background-color: #fff;
}

.burger:focus {
    outline: none;
}

.burger span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 30px;
    background: #000;
}

.burger span::before,
.burger span::after {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 30px;
    background: #000;
}

.burger span::before {
    top: 8px;
}

.burger span::after {
    top: -8px;
}

.burger-line span::before,
.burger-line span::after {
    transition: transform 0.3s ease;
}

.burger-line span {
    background-color: #000;
    transition: background-color 0.3s ease;
}

.burger-line.is-active span {
    width: 0;
    transition: background-color 0.3s ease;
}

.burger-line.is-active span::before {
    transform: rotate(-45deg);
    left: 0;
    top: 0;
}

.burger-line.is-active span::after {
    transform: rotate(45deg);
    left: 0;
    top: 0;
    transition: transform 0.3s ease;
}

.body-active {
    margin-left: 300px;
}