.header {
    position: fixed;
    background: #fff;
    width: 100%;
    font-size: 15px;
    line-height: 22px;
    text-align: justify;
    text-transform: uppercase;
    padding-left: 40px;
    z-index: 15;

    &__btn {
        display: block;
        background-color: #000;
        color: #fff;
        height: 100%;
        padding: 0 27px;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        text-transform: uppercase;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #484849;
            transition: background-color 0.3s ease;
        }

        &:active {
            background-color: #363637;
            transition: background-color 0.3s ease;
        }
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.menu {
    max-width: 750px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 36px;
    height: 100%;

    &-item {
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;

        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 8px;
            background: #000;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            transition: width 0.3s ease;
        }

        &:hover::before {
            width: 120%;
            transition: width 0.3s ease;
        }
    }
}

.first {
    background: url('../img/header-bg.jpg') no-repeat center 120px;
    background-size: cover;
    height: 100vh;
}

.burger {
    position: relative;
    display: none;
    overflow: hidden;
    font-size: 0;
    cursor: pointer;
    width: 140px;
    height: 100%;
    background: #fff url('../img/svg/burger.svg') no-repeat center center;
}

.burger:focus {
    outline: none;
}

.body-active {
    margin-left: 300px;
}