.slider {
	background: #000;
	margin-bottom: 97px;
}

.slider .swiper-pagination-bullet-active {
	background-color: #fff;
}

.slider .swiper-pagination-bullet:nth-child(4n) {
	margin-right: 0;
}

.slider .swiper-slide img {
	height: 700px;
}

.block {
	display: flex;
	position: relative;
}

.block__side {
	position: relative;
	flex: 0 0 19%;
}

.block__body {
	flex: 1 1 auto;
	min-width: 0;
}

.first-slider__img {
	text-align: center;
}

.swiper-slide img {
	object-fit: cover;

}

.slider-container {
	padding: 0;
	position: relative;
	margin: 0 auto;
}

.swiper-button-prev::after,
.swiper-button-next::after {
	display: none;
}

.first-slider__buttons {
	position: absolute;
	display: flex;
	top: 70px;
	left: 5%;
	z-index: 10;

	button:focus {
		outline: none;
	}
}

.swiper-button-prev svg path,
.swiper-button-next svg path {
	fill: #000;
	transition: fill 0.3s ease;
}

.swiper-button-prev,
.swiper-button-next {
	position: static;
	width: 72px;
	height: 72px;
	background-position: center;
	background-color: #fff;
	transition: background-color 0.3s ease;

	&:focus {
		outline: none;
	}

	&:hover {
		background-color: #000;
		transition: background-color 0.3s ease;

		&.swiper-button-prev svg path,
		&.swiper-button-next svg path {
			fill: #fff;
			transition: fill 0.3s ease;
		}
	}

	&:active {
		background-color: #363637;
		transition: background-color 0.3s ease;
	}
}


.first-slider__bullets {
	position: absolute;
	bottom: 22px;
	left: 50%;
	transform: translateX(-50%);
	width: 175px;
	text-align: left;
}

.swiper-pagination-bullet {
	background: #000;
	border: 1px solid #fff;
	opacity: 1;
	width: 20px;
	height: 20px;
	border-radius: 0;
	margin-right: 28px;
	margin-bottom: 24px;
}

.swiper-pagination-bullet:focus {
	outline: none;
}